.archived-container {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  justify-content: center;
}

.homeButton {
  display: inline-block;
  margin-left: 24px;
  text-decoration: none;
  color: #fff;
  background-color: #5fa3ec;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.homeButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .archived-container {
    padding: 0px 24px;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }
}
